<div class="container">
    <div class="row text-center contact-bar">
        <div class="col-sm-3 col-xs-6 first-box">
            <h1><span class="material-icons">phone</span></h1>
            <h3>Phone</h3>
            <p>+880-1700-987654</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 second-box">
            <h1><span class="material-icons">place</span></h1>
            <h3>Location</h3>
            <p>1036 Gulshan Road</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 third-box">
            <h1><span class="material-icons">send</span></h1>
            <h3>E-mail</h3>
            <p>info@yourdomain.com</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 fourth-box">
            <h1><span class="material-icons">explore</span></h1>
            <h3>Web</h3>
            <p>www.yourdomain.com</p><br>
        </div>
    </div>
</div>