<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="tour-section">
                <h1>in Havana<span>General and Specialized Tours </span></h1>
                <ul>
                    <li>Old Havana Walking Tour</li>
                    <li>Havana City Tour (Old Havana and Modern Havana Area)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tour-section">
                <h1>outside Havana
                    <span>Day Trips</span>
                </h1>
                <ul>
                    <li>Viñales Tour</li>
                    <li>Havana City Tour (Old Havana and Modern Havana Area)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>