<!doctype html>
<html lang="en">

  {{> templates/head title='Inicio'}}

  <body>
    {{> templates/header data=htmlWebpackPlugin.options.data.header }}

    <main role="main">
      {{> templates/welcome }}
      <div class="divider bag1"></div>

      {{> templates/services }}
      <div class="divider bag2">
        <h1><i class="material-icons">stars</i>General Tours and Specialized Tours<i class="material-icons">stars</i></h1>
      </div>
      {{> templates/toursection }}

      {{> templates/gallery }}

      {{> templates/contact }}

      {{> templates/footer }}

    </main>
    {{> templates/scripts }}

    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDqZM6KU3WcNg0VulfJPSWlesnlwYVEq34",
        authDomain: "triphavana-e1e79.firebaseapp.com",
        databaseURL: "https://triphavana-e1e79.firebaseio.com",
        projectId: "triphavana-e1e79",
        storageBucket: "triphavana-e1e79.appspot.com",
        messagingSenderId: "366161367452"
      };
      firebase.initializeApp(config);
    </script>
  </body>

</html>