<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>

  <body>
    <h1> {{htmlWebpackPlugin.options.data.title}} </h1>
    <h3>Welcome to Services!</h3>
    <a href="index.html">Index</a>
    {{#each htmlWebpackPlugin.options.data.services}}
      <li class="nav-item">
        <a id="alert" class="nav-link" href="#">{{this.name}}</a>
      </li>
    {{/each}}
    <my-app></my-app>

  </body>

</html>