<!doctype html>
<html lang="en">
  {{> templates/head title='Services'}}

  <body>
    {{> templates/header data=htmlWebpackPlugin.options.data.header }}
    <div class="container">
      {{> templates/transportation}}
    </div>
    {{> templates/scripts}}
  </body>
</html>